*{
    font-family: 'Open Sans';
}

.page-content .panel-title{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
}

.page-content .panel-text{
    margin-bottom: 32px;
    font-size: 13px;
    opacity: 0.5;
}

.page-content img{
    max-height: 550px;
    width: auto;
}
.page-content .username{
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
}

.page-content .password{
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
}

.page-content .cookies{
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.page-content .btn-login{
    background-color: #EF5DA8;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

.page-content .btn-socialmedia{
    border: 1px solid;
    max-width: 200px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.page-content .btn-socialmedia .text{
    font-size: 14px;
    font-weight: 500;
}

.page-content .text-havent{
    font-size: 14px;
    font-weight: 500;
}